
<!--<canvas id="canvas" class="canvas" ></canvas>-->



<div class="container">
  <div class="row">
    <div class="col-sm-12 menue">
      <h4 class="classWithPad title "> SoZo - Designer Platfrom</h4>
      <ul class="list-inline classWithPad  ">
        <li class="dropdown list-inline-item">
          <a class="dropdown-toggle" data-toggle="dropdown">File</a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="dropdown list-inline-item">
          <a class="dropdown-toggle" data-toggle="dropdown">Edit</a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="dropdown list-inline-item">
          <a class="dropdown-toggle" data-toggle="dropdown">View</a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="icon-bar col-sm-12 ">
      <a href="#"><i class="fa fa-sign-in"></i></a>
      <a href="#"><i class="fa fa-sign-out"></i></a>
      <a href="#"><i class="fa fa-cloud"></i></a>
      <a (click)="loadCanvasFromJSON();"><i class="fa fa-share"></i></a>
      <a (click)="downloadPDF()"><i class="fa fa-download"></i></a>
      <a (click)="saveCanvasToJSON();"><i class="fa fa-save"></i></a>
      <!--<a (click)="loadCanvasFromJSON();">load</a>-->
      <a (click)="removeSelected();"><i class="fa fa-trash"></i></a>


      <!--<button data-toggle="tooltip" data-placement="bottom" title="Delete element" type="button" class="btn btn-outline-danger" [disabled]="!selected"-->
              <!--(click)="removeSelected();">-->
        <!--<i class="fa fa-trash" aria-hidden="true"></i>-->
      <!--</button>-->

      <a href="#"><i class="fa fa-search-minus"></i></a>
      <a href="#"><i class="fa fa-search-plus"></i></a>
      <a href="#"><i class="fa fa-undo"></i></a>
      <a href="#"><i class="far fa-redo"></i></a>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-1 col-sm-3 " align="center"  >
      <div class="card" >
        <div class="card-block">
          <label for="getTxt"> Canvas Size</label>
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="size.width" (keyup)="changeSize()">
              <div class="input-group-append">
                <span class="input-group-text">
                  Width
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group mb-3">
              <input type="text" class="form-control" [(ngModel)]="size.height" (keyup)="changeSize()">
              <div class="input-group-append">
                <span class="input-group-text">
                  Height
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="card" >
        <div class="card-block">
          <label>Set Background Image</label>
          <input type="file" (change)="readBackgroundImagUrl($event);"   accept="image/x-png,image/gif,image/jpeg">
          <br/>
          <br/>
          <img id="backImage" *ngIf="backgroundImgUrl" class="images-item-upload" [src]=" backgroundImgUrl"
               (click)="setBackgroundImage( backgroundImgUrl);" height="100" width="200" alt="">
          <br/>
          <br/>
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-sm btn-default" (click)="removeBackgroundImage(backgroundImgUrl);">
                <i class="fa fa-times" aria-hidden="true"></i> clear
              </button>
            </div>
          </div>
          <br>
          <br>
          <img class="images-item" (click)="getImgPolaroid($event)"  height="100" width="230" src="assets/img/img1.jpg">
          <img class="images-item" (click)="getImgPolaroid($event)"  height="100" width="230" src="assets/img/img3.jpeg">
          <img class="images-item" (click)="getImgPolaroid($event)"  height="100" width="230" src="assets/img/img4.jpeg">
          <img class="images-item" (click)="getImgPolaroid($event)"  height="100" width="230" src="assets/img/img5.jpeg">
          <br>
          <br>
        </div>
      </div>

      <!--<div class="card" >-->
        <!--<div class="card-block">-->
          <!--<div class="form-group">-->
            <!--<label for="getTxt"> Add Text</label>-->
            <!--<div class="input-group">-->
              <!--<input type="text" id="getTxt" class="form-control"  placeholder="Text..."  [(ngModel)]="textString">-->
              <!--<span class="input-group-btn">-->
              <!--<button class="btn btn-secondary" type="button" (click)="getText()">Add</button>-->
            <!--</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="card" >
        <div class="card-block">
          <!--<a href="#"><i class="fa fa-upload"></i></a>-->
          <label>Add Image</label>
          <input type="file" (change)="readUrl($event);"   accept="image/x-png,image/gif,image/jpeg">
          <br/>
          <br/>
          <img id="testImage" *ngIf="url" class="images-item-upload" [src]="url" (click)="addImageOnCanvas(url);"
               height="100" width="150" alt="Image preview...">
          <br/>
          <br/>
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-sm btn-default" (click)="removeWhite(url);">
              <!--<button type="button" class="btn btn-outline-danger btn-sm" (click)="removeWhite(url);">-->
                <i class="fa fa-times" aria-hidden="true"></i> clear
              </button>
            </div>
          </div>
        </div>
      </div>





    </div>
    <div class=" col-xs-10 col-sm-7  middle"style="height: 700px " >
      <canvas id="canvas"></canvas>
    </div>




    <div class="col-xs-1  col-sm-2 " >
        <br/>
      <div class="card" >
        <div class="card-block">
          <div class="form-group">
            <label for="getTxt"> Add Text</label>
            <div class="input-group">
              <input type="text" id="getTxt" class="form-control"  placeholder="Text..."  [(ngModel)]="textString">
              <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" (click)="getText()">Add</button>
            </span>
            </div>
          </div>
        </div>
      </div>
      <br>

        <div class="card">
          <div class="card-header"><label>Custom</label></div>
          <div class="card-body">
            <!--@@fill-->
            <div class="custom-item" *ngIf="selected && textEditor || selected && figureEditor">
              <div class="custom-item-title"><label>Fill</label></div>
              <div class="custom-item-body">
                <input type="text" class="form-control" [cpPosition]="'left'" [cpOutputFormat] ="'rgba'"
                       [(colorPicker)]="props.fill" [style.background]="props.fill"
                       [value]="props.fill" (colorPickerChange)="setFill()">
              </div>
            </div>
            <br>
            <div class="custom-item" *ngIf="selected && textEditor">
              <div class="custom-item-title"><label>Font family</label></div>
              <div class="custom-item-body">
                <select [(ngModel)]="props.fontFamily" class="form-control" (change)="setFontFamily()">
                  <option value="Times New Roman">Times New Roman</option>
                  <option value="arial">Arial</option>
                  <option value="Arial Black">Arial Black</option>
                  <option value="helvetica" selected>Helvetica</option>
                  <option value="verdana">Verdana</option>
                  <option value="courier">Courier</option>
                  <option value="Comic Sans MS">Comic Sans MS</option>
                  <option value="Courier New">Courier New</option>
                  <option value="Open Sans">Open Sans</option>
                  <option value="Bookman">Bookman</option>

                </select>
              </div>
            </div>
            <br>


            <!--<div class="custom-item" *ngIf="selected && textEditor">-->
              <!--<div class="custom-item-title">Text Align</div>-->
              <!--<div class="custom-item-body text-center">-->
                <!--<div class="btn-group" role="group" aria-label="...">-->
                  <!--<button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'left' }" (click)="setTextAlign('left')">-->
                    <!--<i class="fa fa-align-left"></i>-->
                  <!--</button>-->
                  <!--<button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'center' }" (click)="setTextAlign('center')">-->
                    <!--<i class="fa fa-align-center"></i>-->
                  <!--</button>-->
                  <!--<button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'right' }" (click)="setTextAlign('right')">-->
                    <!--<i class="fa fa-align-right"></i>-->
                  <!--</button>-->
                  <!--<button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'justify' }" (click)="setTextAlign('justify')">-->
                    <!--<i class="fa fa-align-justify"></i>-->
                  <!--</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->




            <div class="custom-item" *ngIf="selected && textEditor">
              <div class="custom-item-title"><label>Font Size</label></div>
              <div class="custom-item-body">
                <input type="range" [(ngModel)]="props.fontSize" (change)="setFontSize()" step="1" min="1" max="120">
                {{props.fontSize}}</div>
            </div>

            <div class="custom-item" *ngIf="selected && textEditor">
              <div class="custom-item-title"><label>Char Spacing</label></div>
              <div class="custom-item-body">
                <input type="range" [(ngModel)]="props.charSpacing" (change)="setCharSpacing()" step="10" min="-200" max="800">
                {{props.charSpacing}}</div>
            </div>


          </div>
        </div>




    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 menue ">
    </div>
  </div>
</div>
