@media (min-width: 1200px) {
  .container{
    max-width: 40%;

  }
}

.btn-default {
  color: whitesmoke;
  background-color: #333333;
  border-color: #333333;

}
.btn:hover {
  color: green;
  background-color: #333333;
}
