
<!-- Bootstrap -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<div class="navbar navbar-inverse navbar-expand-lg ">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapibleMenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">SoZo - Designer Platform</a>
    </div>
    <!--<div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">-->
    <div class="collapse navbar-collapse"   id="collapibleMenu">
      <ul class="nav navbar-nav navbar-left">
        <li [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link"  [routerLink]="['/']">Home</a>
        </li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Support</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right" *ngIf="user">
         <li class="dropdown">
           <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
             <!-- The Profile picture inserted via div class below, with shaping provided by Bootstrap -->
             <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
             {{user.name}}
           </a>
           <ul class="dropdown-menu">
             <li>
               <a href="#">Settings</a>
             </li>
             <li role="separator" class="divider"></li>
             <li>
               <a (click)="onLogoutClick()" >Log out</a>
             </li>
           </ul>
         </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">


  <div class="row">
    <div class=" col-sm-8 " align="left"  >
      <div *ngIf="user">
        <h2 class="page-header">{{user.name}}</h2>
        <ul class="list-group">
          <li class="list-group-item">Username :{{user.username}}</li>
          <li class="list-group-item">Email :{{user.email}}</li>
        </ul>
      </div>
    </div>
  </div>
  <br>


  <div class="row">
    <div class="col-xs-1 col-sm-3 " align="center"  >
      <div class="card" >
        <div class="card-block">
          <div class="form-group">
            <label > Edit Design </label>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngFor="let canvas of canveses">

    <p (click)="invokeChildCmpMethod(canvas.CanvasName)">{{canvas.CanvasName}}</p>
  </div>


</div>




<input   class="btn btn-default"   [routerLink]="['/canvas']" value="Login">


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>














