<app-navbar></app-navbar>

<div class="container">
  <!--<div class="jumbotron text-center">-->
    <!--<h1>SoZo Designer Platform</h1>-->
    <!--&lt;!&ndash;<p class="lead">welcome paragraph</p>&ndash;&gt;-->
    <!--<div>-->
      <!--<a class ="btn btn-primary" [routerLink]="['/register']">Register</a>-->
      <!--<a class ="btn btn-primary" [routerLink]="['/login']">LogIn</a>-->
    <!--</div>-->
  <!--</div>-->


  <div class="row">
    <div class="col-md-1 col-lg-1"></div>

    <div class="col-md-3 col-lg-3">
      <!--<h3 ><font face="arial" color="green">SoZo-Online Designer<br> Platform</font></h3>-->
      <h3 id="header">SoZo-Online Designer Platform</h3>
      <br>
      <br>
      <br>
      <!--<p>efrylgtuitiuhkgueru jfgwe, dfllfjag dkakhfkgaj dfkfjjfbeuegf</p>-->
      <a class ="btn btn-default" [routerLink]="['/register']">Register</a>
      <a class ="btn btn-default" [routerLink]="['/login']">LogIn</a>
    </div>
    <div class="col-md-8 col-lg-8">
      <div class="image"  >
        <img  src="assets/img/h1.jpg"  class="rounded float-left"  style="width:95%" height="85%"  alt="..." />
      </div>
    </div>
  </div>





</div>

<!--<div class="bg"></div>-->

<footer class="footer">
  <div class="container">
    <ul class="social-icon animate pull-right">
      <li><a href="#" title="facebook" target="_blank"><i class="fa fa-facebook"></i></a></li> <!-- change the link to social page and edit title-->
      <li><a href="#" title="twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#" title="google plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>
</footer>





