/*.navbar-brand*/
/*{*/
  /*!*font-family: 'arial', cursive;*!*/
  /*!*color: #802b1e;*!*/
  /*font-size: 25px;*/
  /*margin: 0px;*/
/*}*/

/*.title{*/
  /*font-size: 25px;*/
  /*font-family: "Comic Sans MS", cursive, sans-serif;*/
  /*color: green;*/
/*}*/

.navbar-header .navbar-brand{
  color: green;
  font-size: 25px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: green;
}
