

<!--&lt;!&ndash;bootstrap css&ndash;&gt;-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
      <!--integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--font awesom-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<!-- Bootstrap -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


<div class="navbar navbar-inverse navbar-expand-lg ">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<button class="navbar-toggler navbar-toggler-right"  type="button" (click)="isCollapsed = !isCollapsed" data-target="#collapibleMenu" )>-->
        <!--<span  class="navbar-toggler-icon"></span>-->
      <!--</button>-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapibleMenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">SoZo - Designer Platform</a>
    </div>
    <!--<div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">-->
    <div class="collapse navbar-collapse"   id="collapibleMenu">
      <ul class="nav navbar-nav navbar-left">
        <li [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link"  [routerLink]="['/']">Home</a>
        </li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Support</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link"  [routerLink]="['/register']"><span class="glyphicon glyphicon-user" aria-hidden="true">
                    Register</span></a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link"  [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in" aria-hidden="true">
                    Login</span></a>
        </li>
      </ul>


    </div>
  </div>
</div>


<!--&lt;!&ndash;bootstrap&ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
        <!--integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">-->
<!--</script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
        <!--integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">-->
<!--</script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
        <!--integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">-->
<!--</script>-->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>













